<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css">


</head>
<body>
	<div class="container">
		<div class="menu1">
			<div class="img">
				<img src="images/logo1.png" alt="logo1">
			</div>
			<div class="menu2">
					<ul class="menu_item">
						<li><a href="" title="">Home</a></li>
						<li><a href="" title="">About Me</a></li>
						<li><a href="" title="">Education</a></li>
						<li><a href="" title="">Work Experience</a></li>
						<li><a href="" title="">Skills</a></li>
						<li><a href="" title="">Portfolio</a></li>
						<li><a href="" title="">Contact</a></li>
					</ul>
			</div>
		</div>
		<div class="main1">
			<div class="slide">
				<div class="slide1">
					<img src="images/kDRPs.jpg" alt="slide">
				</div>
				<div class="text">
					<p class="text1">Lets Make Something Great </p>
					<p class="text2">I'm UI designer that prides ourself on beging strategic brand partners and awe-some product providers</p>
					<a href="" title="">Hire Me!</a>
				</div>
			</div>
			<div class="maincard">
				<div class="main2">
					<div class="tieude">
						<h2>Portfolio</h2>
					</div>
					<div class="menu3">
						<ul menu_item1>
							<li class="li1 active1"><a class="active1" href="" title="">Branding</a></li>
							<li class="li1"><a href="" title="">Wed Design</a></li>
							<li class="li1"><a href="" title="">Animation</a></li>
							<li class="li1"><a href="" title="">UI/UX</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="main3">
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/500px-Hoc-ngon-ngu-lap-trinh-fea.jpg" alt=""></a>
						</div>
						<div class="text3 ">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/bi-quyet-lap-trinh-vien.jpg" alt=""></a>
						</div>
						<div class="text3 text32">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/nhung-dieu-thu-vi-ve-lap-trinh-vien-1.jpg" alt=""></a>
						</div>
						<div class="text3 text33">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/Top-20-loi-noi-doi-kinh-dien-cua-lap-trinh-vien-2_1466700133.jpg" alt=""></a>
						</div>
						<div class="text3 text34">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/tro-thanh-lap-trinh-vien-gioi-28042016-1.jpg" alt=""></a>
						</div>
						<div class="text3 text35">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
					<div class="card">
						<div class="img1">
							<a href="" title=""><img src="images/22119426_1437897799634636_287332803_o.jpg" alt=""></a>
						</div>
						<div class="text3 text36">
							<p class="textto">Marketing Partner</p>
							<div class="textnho">Branding UI/UX Article</div>
							<a href="" title="">View Project ></a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="contact">
					<div class="frtable">
						<div class="title1"><h3>Leave a Message</h3></div>
						<div class="frtable1">
							<form action="">
								<input class="text" type="text" name="" placeholder="Name"></br>
								<input class="text" type="email" name="" placeholder="Email"></br>
								<textarea name="" placeholder="Message"></textarea></br>
								<input id="sub" type="submit" name="" value="Hire Me!">
							</form>
						</div>
					</div>
					<div class="icon">
						<div class="icon1">
							<i class="fa fa-home"></i>
							<div class="chu">
								<p class="chuto">Location</p>
								<p class="chunho">324,Golden Tower,Amborkhana,Sylhet</p>
							</div>
						</div>
						<div class="icon1">
							<i class="fa fa-paper-plane"></i>
							<div class="chu">
								<p class="chuto">Email</p>
								<p class="chunho">buidai80@gmail.com</p>
							</div>
						</div>
						<div class="icon1">
							<i class="fa fa-phone"></i>
							<div class="chu">
								<p class="chuto">Toll Free Call</p>
								<p class="chunho">012345679</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="footer">
						<div class="icon2">
							<a  href="" title=""><i class="fab fa-twitter active"></i></a>
							<a href="" title=""><i class="fab fa-skype"></i></a>
							<a href="" title=""><i class="fa fa-basketball-ball"></i></a>
						</div>
						<div class="textft">
							<p>Copyright: Junaed Ahmed,Allrights reverved</p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		<div class="clearfix"></div>
	</div>
</body>
</html>