*{
	margin:0;
	padding: 0:
}
.detai {
	margin-top: 30px;
}
img,.detail1{
	float: left;
	
}
img {
	margin-right: 30px;
}
.pro {
	font-size: 18px;
	padding:8px;
}
#title{
	font-weight: bold;
	font-size: 25px;
	color:#252b53;
	font-family: 'tahoma';
}