*{
			margin: 0;
			padding: 0;
		}
		body{
			font-family: 
		}
		img {
			width: 300px;
			max-height: 350px;
		}
		h2 {
			margin-top: 20px;
			margin-bottom: 30px;
			text-align: center;
			font-family: sans-serif;
			
		}
		h3 {
			margin-left: 15px;
			margin-bottom: 30px;
		}
		a{
			text-align: center;
			text-decoration: none;
			color: #474a4f;

		}
		.product{
			
			max-width: 300px;
			float: left;
			margin-left: 25px;
		}