@media (min-width: 992px){ 
    .icon_bar{
        visibility: hidden;
    }
}
@media (max-width: 992px){ 
    .icon_bar i{
       color: black;
    }
    .icon_bar{
        z-index: 8;
    }
    .menu_mobi{
        z-index: 9;
    }
    .menu_top1{
        z-index: 7;
    }
}
@media (max-width:768px){
    .col-md-6.conten_book {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .new_menu{
        margin-bottom: 30px;
    }
    .text_new2{
        margin-bottom: 30px;
    }
    .img_new2{
        margin-bottom: 30px;
    }
    .card_contact{
        margin-bottom: 30px;
    }
    ..navbar-expand-lg .navbar-nav .nav-link{
        color: white;
    }
}