*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
}
/* header */
@-webkit-keyframes logovang {
	from { transform:scale(1.5) rotate(0); opacity:0;}
	to { transform:scale(1) rotate(360); opacity:1;}

}
.navbar-brand img.vang {
	animation:logovang 1s ease forwards;
}

.head_banner{
    background: url(../images/shop/banner.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.menu_top1{
    background: transparent;
    width: 100%;
    padding-right: 0;
    
}
.nentrang{
    background: white!important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    transition: 0.4s;
}
.menu_top2 .navbar-nav{
    margin-right: 0;
}
.menu_top2 .nav-link.white{
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px;
}
li.color:hover a.white{
    color: #c59d5f;
}
li.color .nav-link.white:hover{
    color: #c59d5f;
}
li.active.change .nav-link.white{
    color: #c59d5f;
}
.text_banner{
    margin: 150px 0;
}
.text_banner1{
    color: white;
    font-size: 18px;
    letter-spacing: 10px;
    padding-top: -5px;
    text-transform: uppercase;
}
a.a_banner{
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid white;
    background: transparent;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 40px;
    transition: 0.4s;
}
a.a_banner:hover{
    background: #c59d5f;
}
.image_banner{
    width: 50%;
}
/* menu di dong */
.menu_mobi{
    width: 200px;
   position: fixed;
   top: 20px;
   right: -200px;
   text-align: center;
   background:#8080808a;
   transition: 0.4s;
   z-index: 9;
}
.mobi span{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 40px;
}
.mobi i{
    color: white;
    font-size: 30px;
    text-align: right;
    display: inline-block;
}
.mobi li{
    list-style: none;
    padding: 10px 0;
}
.mobi li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;

}
.mobi li a:hover{
    color: #c59d5f;
}
.icon_bar{
    position: fixed;
    top:20px;
    right: 20px;
}
.icon_bar i{
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    background: #8080808a;
    border-radius: 3px;
}
.in{
    right: 0;
}
.out{
    visibility: hidden;
}


/* het menu di dong */

/* end header */

/* menu */
.text_menu{
    color: #c59d5f;
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}
.text_menut{
    color: grey;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.line_menu{
    height: 1px;
    width: 150px;
    background: black;
    display: inline-block;
    margin: auto;
}
.line_menu1{
    padding: 100px 0 50px 0;
}
.text_left{
    display: inline-block;
}
.text_left h4{
    color: grey;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
}
.text_right{
    float: right;
    display: inline-block;
}
.text_right span{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.text_right span b{
    color: #c59d5f;
    font-weight: bold;
}
.img_shop1{
    width: 100%;
    opacity: 0.9;
    transition: 0.4s;
    /* height: 170px; */
}
div.shop_menu{
    width: 50%;
    float: left;
    display: inline;
    overflow: hidden;
}
.shop_menu:hover .img_shop1{
    transform: scale(1.02);
    opacity: 1;
}
.text_shop{
    width: 40%;
    float: left;
    padding:10px 30px;
}
.shop_title{
    font-size: 14px;
    
    text-transform: uppercase;
}
.text_shop h2{
    font-size: 18px;
    font-weight: bold;
}
.text_shop p{
    font-size: 14px;
    color: grey;
}
.shop_card{
    margin-bottom: 30px;
}
.clear_fix{
    clear: both;
}

/* hết menu */

/* footer */
.clearfix{
    clear: both;
}
.foot{
    background: #3a3a3a;
}
.title_foot{
    color: white;
    text-transform: uppercase;
    padding: 0px 0 20px 0;
}
.icon_foot i{
    float: left;
    color: white;
    padding: 5px 30px 0 0;
}
div.text_icon{
    float: left;
    padding: 0;
    font-weight: 300;
}
.text_foot{
    color: grey;
    margin:0 0 10px 0;
}
.slide_item.slide_top1{
    width: 100%;
    height: 100%;
    padding:0 ;
}
.img_foot{
    width: 100%;
    height: 100%;
}
.img_foot1{
    width: 100%;
    height: 100%;
}
.foot_item input{
    background: transparent;
    border: none;
    width: 100%;
    padding: 15px 15px 15px 0;
    outline: none;
    color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}
.foot_item input:hover{
    border-bottom:1px solid #c59d5f;
}
.foot_item input:focus{
    border-bottom:1px solid #c59d5f;
}
div.foot_item a{
    color: white;
    font-size: 25px;
    padding-right: 20px;
    text-decoration: none;
    padding-bottom: 30px;
}
div.foot_item a:hover{
    color: #c59d5f;
}
.foot_item p,b{
    color: white;
    font-size: 14px;
    font-weight: 300;
}
p.foot_bot{
    color: white;
    padding: 20px 0;
    font-weight: 300;
    margin-bottom: 0;
}
#backtop i{
    font-size: 80px;
    color: #c59d5f;
    position: absolute;
    bottom: 0px;
    right: 30px;
    position: fixed;
}
.footer{
    padding: 50px 0;
}
